@use "sass:map";
@use "sass:list";
@use 'sass:math';

$fontWeights: (
  thin: 100,

  extra: 200,
  extralight: 200,
  extra-light: 200,
  ultralight: 200,
  ultra-light: 200,

  light: 300,

  normal: 400,
  regular: 400,

  medium: 500,

  semi: 600,
  semibold: 600,
  semi-bold: 600,

  bold: 700,

  ultra: 800,
  ultrabold: 800,
  ultra-bold: 800,
  extrabold: 800,
  extra-bold: 800,

  heavy: 900,
  black: 900
);

/* Font Weights */
$thin: 100;
$hairline: 100;

$extra: 200;
$extralight: 200;
$extra-light: 200;
$ultralight: 200;
$ultra-light: 200;

$light: 300;

$normal: 400;
$regular: 400;

$medium: 500;

$semi: 600;
$semibold: 600;
$semi-bold: 600;

$bold: 700;

$ultra: 800;
$ultrabold: 800;
$ultra-bold: 800;
$extrabold: 800;
$extra-bold: 800;

$heavy: 900;
$black: 900;

$fontWeightList: (
        thin: 100,
        hairline: 100,
        extra: 200,
        extralight: 200,
        extra-light: 200,
        ultralight: 200,
        ultra-light: 200,
        light: 300,
        normal: 400,
        regular: 400,
        medium: 500,
        semi: 600,
        semibold: 600,
        semi-bold: 600,
        bold: 700,
        ultra: 800,
        ultrabold: 800,
        ultra-bold: 800,
        extrabold: 800,
        extra-bold: 800,
        heavy: 900,
        black: 900
);

$sm: 1000px;
$md: 1024px;
$xl: 1340px;

/* Colors */
$colorAccent: #563797;
$colorDark: #414040;
$colorWhite: #ffffff;

$lhAuto: normal;
$lhDefault: 1.3;
$lhSmall: 1.2;

$baseFontFamily: 'IBM Plex Sans';
$baseFontWeight: 400;
$baseFontSize: 18px;
$baseFontColor: $colorDark;

$marginList: (
        (
                "desktop" : 'auto',
                "mobile" : 'auto',
        ),
        (
                "desktop" : 0,
                "mobile" : 0,
        ),
);
$mapItem2: ();
$mapItem5: ();

@for $i from 1 through 50 {
  $mapItem2: map.set($mapItem2, "desktop", $i * 2);
  $mapItem2: map.set($mapItem2, "mobile", math.ceil(($i * 2) - math.div(($i * 2), 3) ));
  $marginList: append($marginList, $mapItem2);
  @if ($i*5) % 2 != 0 {
    $mapItem5: map.set($mapItem5, "desktop", ($i * 5));
    $mapItem5: map.set($mapItem5, "mobile", math.ceil(($i * 5) - math.div(($i * 5), 3) ));
    $marginList: append($marginList, $mapItem5);
  }
}

$fontSizeList: $marginList;

